.sobre-nos {
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nos__paragrafo {
    font-weight: 600;
    color: var(--vermelho);
}

.sobre-nos__titulo {
    font-weight: 600;
    color: var(--cinza-escuro);
    font-size: 3em;
}

.sobre-nos__texto {
    font-weight: 400;
    font-size: 1.25em;
    color: var(--cinza-claro);
    text-align: center;
    max-width: 800px;
}

.sobre-nos__paragrafo,
.sobre-nos__titulo,
.sobre-nos__texto {
    margin: 0.5em 0;
}